.admin-container {
  max-width: 800px;
  margin: 200px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.admin-container h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.admin-container input[type="file"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.admin-container button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.admin-container button:hover {
  background-color: #3e8e41;
}

.admin-container .message {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #f00;
}

.admin-container .file-info {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.admin-container .delete-btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.admin-container .delete-btn:hover {
  background-color: #da190b;
}
