/* .grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    "traincard payment"
    "traveller-card note";
  grid-gap: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  grid-auto-rows: minmax(100px, auto);
} */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.traincard {
  margin-bottom: 20px; /* or any other value that suits your layout */
  margin-top: 60px;
  height: fit-content;
}

.traveller-card {
  margin-top: 20px;
}

.payment,
.traveller-card,
.note {
  margin-top: 60px; /* Set margin-top value according to your navbar height */
}
