.booking-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.train-card-container {
  width: 60%;
  padding-right: 2rem;
  flex-basis: 60%;
  margin-bottom: 1rem;
}

.note-container {
  width: 40%;
}

.add-traveller-container {
  margin-top: 1rem;
  text-align: center;
}

.travellers-container {
  width: 60%;
  padding-top: 2rem;
}

.traveller-details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.traveller-details-popup-container {
  background-color: #fff;
  width: 400px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.add-traveller-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;
  margin-top: 2rem;
}
.traveller-box {
  /* display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline; */
  border-radius: 5px;
  margin-top: 1rem;
  max-height: calc(100vh - 200px);
  overflow: auto;
  padding: 1rem;
  border-radius: 5px;
  left: 11rem;

  margin-top: -150px;
  margin-left: -11px;
  width: 30.8cm;
}

.add-traveller-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.add-traveller-button {
  background-color: #008080;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.add-traveller-button:hover {
  background-color: #006666;
}

.traveller-details-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 966px;
  margin-left: 173px;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.small-box {
  width: 30%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-left: 87rem;
  /* flex-basis: 30%; */
}

.small-box h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small-box ul {
  margin-top: 0.5rem;
}

.small-box li {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.train-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 60%;
  margin-left: 180px;
  margin-top: 9rem;
  margin-bottom: -1rem;
}

.train-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.train-card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.train-card-info div {
  display: flex;
  flex-direction: column;
}

.train-card-info div span {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.train-card-info div p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.train-card-img {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.train-card-img img {
  width: 70%;
  border-radius: 5px;
}
