/* Navigation bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px 20px 20px 0;
  padding-right: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

/* Navigation bar logo */
.navbar__logo {
  margin: 10px;
}

.navbar__logo img {
  height: 100%;
  width: 100px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  /* Optional transition effect */
  /* transition: height 0.5s ease; */
}

/* Navigation bar toggle */
.navbar__toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive navigation bar toggle */
@media screen and (max-width: 768px) {
  .navbar__toggle {
    display: block;
  }

  .navbar__menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar__menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .navbar__menu-item {
    margin: 10px 0;
  }

  .navbar__menu-item a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
  }
}


.navbar__menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__menu-item {
  margin-left: 20px;
}

.navbar__menu-item a {
  color: #333;
  text-decoration: none;
}

/* Navigation bar actions */
.navbar__actions {
  display: flex;
  align-items: center;
}

/* Navigation bar user link */
.navbar__user-link {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.navbar__user-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.navbar__user-name {
  font-size: 16px;
}

/* Styling for the navigation bar when scrolled */
.navbar.scrolled {
  background-color: #424443;
  height: 40px;
  /* padding: 10px 20px; */
}

.navbar.scrolled a {
  color: white;
}

.navbar.scrolled .navbar__logo img {
  height: 55px;
}